<body  style="background-color: #0c0ce94d;">
    <div>
        <main class="table" >
        <section class="table__header">
            <h1>Dados de Turmas</h1>
            <div class="input-group">
                <input type="search" placeholder="Procurar dados...">
                <img src="assets/images/search.png" alt="pesquisar">
            </div>
        
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Nome </th>
                        <th> ID de professor </th>
                     
                        <th> Acções </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let use of cursos">
            
                        <td>{{use.id}}</td>
                        <td>{{use.nome}}</td>
                        <td>{{use.professor_id}}</td>
                      
                         <th class="my"><a (click)="deleteCursoData(use.id)" style="--clr:#1e9bff"><span >Apagar</span><i></i></a></th>
                        <td ><a routerLink="curso/edit/{{use.id}}" style="--clr:#1e9bff"><span>Editar</span><i></i> </a></td>
   
                    </tr>
                
                </tbody>
            </table>
        </section>

    
    </main>
</div>
    
</body>
