<body  style="background-color: #0c0ce94d;">
    <div>
        <main class="table" >
        <section class="table__header">
            <h1>Dados do ususario</h1>
            <div class="input-group">
                <input type="search" placeholder="Procurar dados...">
                <img src="assets/images/search.png" alt="pesquisar">
            </div>
        
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Imagem </th>
                        <th> Identificador </th>
                        <th> Nome </th>
                        <th> Bilhete </th>
                        <th> Telefone </th>
                        <th> Endereco </th>
                        <th> E-mail </th>
                        <th> Role </th>
                        <th> Acções </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let use of users">
            
                        <td> <img [src]="img1" alt=""></td>
                        <td>{{use.id}}</td>
                        <td>{{use.nome}}</td>
                        <td>{{use.bilhete}}</td>
                        <td>{{use.telefone }}</td>
                        <td>{{use.endereco }}</td>
                        <td>{{use.email }}</td>
                        <td>{{use.Role }}</td>
                         <th class="my"><a (click)="deleteUserData(use.id)" style="--clr:#1e9bff"><span >Apagar</span><i></i></a></th>
                        <td ><a routerLink="user/edit/{{use.id}}" style="--clr:#1e9bff"><span>Editar</span><i></i> </a></td>
   
                    </tr>
                
                </tbody>
            </table>
        </section>

    
    </main>
</div>
    
</body>
