<body>
    

    <div class="container" >
        <div class="form-image" >
            <img src="../../../assets/3.gif" alt="">
        </div>
        <div class="form">
            <form (ngSubmit)="insertData()">
                <div class="form-header" >
                    <div class="title" >
                        <h1>Encarregado</h1>
                    </div>
                    
                </div>
    
                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Idetificador de usuario:</label>
                        <input type="number" name="id" placeholder="Idetificador de usuario" required [(ngModel)]="encarregado.id">
                    </div>
                    
                    <div class="input-box">
                        <label for="firstname">Idetificador do aluno:</label>
                        <input type="number" name="aluno_id" placeholder="Peça-o ao seu Educando" required [(ngModel)]="encarregado.aluno_id">
                    </div>
                    
                </div>
    
            
                <div class="continue-button" align="center">
                    <button type="submit">Resistar-se</button>
                </div>
            </form>
        </div>
    </div>
    </body>